ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
SEEDANCE_DEFAULT_MODEL=doubao-seedance-2-0-260128
SEEDANCE_DEFAULT_DRAFT_MODEL=doubao-seedance-1-5-pro-251215
SEEDANCE_OUTPUT_DIR=outputs/seedance
SEEDANCE_POLL_INTERVAL_SECONDS=10
SEEDANCE_TIMEOUT_SECONDS=1800
SEEDANCE_FLEX_TIMEOUT_SECONDS=21600
